.quizEditBlock {
  padding: 1.25rem;
  border-radius: 0.1875rem;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;

  * {
    outline: 1px solid blue($color: #000000);
    margin: 0 !important;
  }

  .markAsCorrect {
    color: #ffd700;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.25) rotate(12deg);
    }
  }

  .delete {
    color: #ff0000;
    position: relative;

    &:hover {
      color: #c20000;
    }
  }
}
